<app-navbar/>
<app-announcement-banner/>
<header focusOnNavigation class="header-background" aria-label="home-page-header">
   <!-- header section-->
   <div class="header-section">
      <div class="header-headline">
         <h1>Film App</h1>
         <h2>All the movies</h2>
      </div>
      <div class="header-start">
         <a mat-raised-button class="header-button" routerLink="film/create">Add Film</a>
      </div>
   </div>
</header>

<mat-divider/>

<main class="home-page-container">

   <div class="project-carousel">
      <!-- project carousel header -->
      <div class="project-carousel-header">
         <h2>Recent Films</h2>

         <a mat-button routerLink="/projects">
            View all Films
            <mat-icon matButtonIcon iconPositionEnd>chevron_right</mat-icon>
         </a>
      </div>
   </div>
</main>

<app-footer></app-footer>
