<header>
  <app-navbar aria-label="Navigation Menu" />
  <app-announcement-banner aria-label="Announcement Banner" />
</header>

<section>
  <app-auth-status aria-label="auth status" />
  <app-action-bar aria-label="user action bar" />
</section>

<main class="home-page-container">
  <!-- film grid section -->
  <article class="film-grid">
    <h2>Current Films</h2>
    <app-film-grid aria-label="film grid" />
  </article>

  <!-- recent films section -->
  <aside class="recent-films">
    <h2>Recent Films</h2>
    <app-recent-films />
  </aside>
</main>

<app-footer aria-label="Site Footer" />
