@use '../../../styles/helpers/constants';

.navbar-container {
  background: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  font: var(--mat-sys-headline-small);
}

.navbar-content {
  max-width: constants.$max-width;
  margin: auto;
  padding: 0.8rem;
  display: flex;
  align-items: center;
}

.flex-spacer {
  flex: 1 1 auto; /* Pushes elements to the left and right */
}

@media (max-width: 600px) {
  .hidden-sm {
    display: none !important;
  }

  .visible-sm {
    display: flex !important; /* Or block, depending on the element */
  }
}

@media (min-width: 601px) {
  .visible-sm {
    display: none !important;
  }
  .hidden-sm {
    display: flex !important; /* Or block, depending on the element */
  }
}
