<mat-toolbar class="navbar" role="heading" aria-label="Navigation Toolbar">
  <a routerLink="/" mat-icon-button aria-label="My Film App">
    <app-logo />
  </a>

  <h6>Film Manager</h6>

  <span class="spacer"></span>

  <!-- nav bar menu -->
  <button mat-icon-button class="icon" [matMenuTriggerFor]="menu" aria-label="Navigation Button">
    <mat-icon>person</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-button (click)="onClickSignOut()">Sign Out</button>
  </mat-menu>
</mat-toolbar>
