.hero-container {
  overflow: hidden;
  position: relative;
  height: 420px;
  background-image: url('../../../assets/images/sign_in_graphic.jpg');
  background-size: cover;
  background-position: center;
}

.hero-section {
  width: 90%;
  position: absolute;
  z-index: 1; // give hero-section a higher z-index than hero-background
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; // set text color for better readability on a background
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

// optional: style for the heading and paragraph
.hero-section h1 {
  font-size: 2.5em; // adjust font size as needed
  margin-bottom: 0.5rem;
}

.hero-section p {
  font-size: 1.2em; // adjust font size as needed
}
