:host, // this is a special selector in angular that targets the component's host element itself.
.film-list-container {
   // ensures that the footer is pushed to the bottom if the page is too short
   display: flex; // sets up flexbox layout for the container
   flex-direction: column; // arranges the container's content to a vertical column
   flex-grow: 1; // allows the container to take up all available vertical space. This is the key part that pushes the footer to the bottom. If the content is shorter than the viewport, this container will stretch to fill the space, effectively pushing the footer below it.
}

.film-list {
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   padding-top: 48px;
}

.film-card-item {
   color: var(--mat-sys-on-surface-variant); // sets the text color using a Material design variable
   text-decoration: none; // removes the underline from links
   display: flex; // makes the item a flex container
   margin: 16px; // adds spacing around each film card

   // these are Sass/SCSS features called 'parent selector' which style the element when it's in focus or when the user's mouse hovers over it.
   &:focus,
   &:hover {
      outline: none; // removes the default focus outline, providing a custom focus style

      .film-card {
         background: var(--mat-sys-surface-dim); // changes the background of the .film-card to a darker shade of hover or focus. This is a subtle visual cue.
      }
   }
}

.film-card.mat-mdc-card {
    text-align: center;
    width: 300px; // set the width of each card to 300 pixels
    height: 250px; // sets the height of each card to 250 pixels
    padding: 8px; // adds some internal spacing inside the card
    justify-content: center; // centers the card's content vertically
    transition: background 0.3s ease; // adds a smooth transition for the background property when it changes (like on hover_
}

// targets the title element within the film card
.film-card .mat-mdc-card-title {
    display: flex; // sets up flexbox for the title
    align-items: center; // vertically centers the title's content
    justify-content: center; // horizontally centers the title's content
    font-size: 22px; // sets the title font size
    margin-bottom: 16px; // adds spacing below the title
}