@use '../../../../styles/helpers/constants';

.film-create-page-container {
    max-width: constants.$max-width;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

// fix this!
.main-content {
    flex-basis: constants.$flex-basis;
    max-width: constants.$max-width;
}

// fix this
.side-content {
    flex-basis: 30%;
    max-width: 30%;
}