<form [formGroup]="filmForm" novalidate (ngSubmit)="onSaveFilm()">
  <mat-card class="film-form" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ mode === 'create' ? 'New Film' : 'Edit Film' }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="column">
          <!-- title -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="title" placeholder="Title" />
            @if (filmForm.controls['title'].hasError('required')) {
            <mat-error>Please enter the film's director</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <!-- director -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Director</mat-label>
            <input matInput type="text" formControlName="director" />
            @if (filmForm.controls['director'].hasError('required')) {
            <mat-error>Please enter the film's director</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <!-- releaseDate -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Release Date</mat-label>
            <input matInput type="text" formControlName="releaseDate" />
            @if (filmForm.controls['releaseDate'].hasError('required')) {
            <mat-error>Please enter the film's director</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="column">
          <!-- genre -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Genre</mat-label>
            <mat-select matNativeControl formControlName="genre">
              <mat-option value="horror">Horror</mat-option>
              <mat-option value="comedy">Comedy</mat-option>
              <mat-option value="Sci-Fi">Sci-Fi</mat-option>
            </mat-select>
            @if (filmForm.controls['genre'].hasError('required')) {
            <mat-error>Please enter the film's director</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <!-- description -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Summary</mat-label>
            <textarea matInput rows="10" formControlName="description"></textarea>
            @if (filmForm.controls['description'].hasError('required')) {
            <mat-error>Please enter the film's director</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="card-actions">
      @if (this.mode === 'create') {
      <button
        matButton="elevated"
        type="submit"
        [disabled]="!filmForm.valid"
        aria-label="Create Film">
        Create
      </button>
      } @else {
      <button
        matButton="elevated"
        type="submit"
        [disabled]="!filmForm.valid"
        aria-label="Update Film">
        Update
      </button>
      }
      <button matButton="outlined" type="button" (click)="filmForm.reset()" aria-label="Clear Form">
        Clear
      </button>
    </mat-card-actions>
  </mat-card>
</form>
