<header>
  <app-navbar />
  <app-announcement-banner />
</header>

<main class="signin-page-container">
  <mat-card appearance="raised" class="signin-form">
    <!-- TITLE TEXT -->
    <div class="title-text">
      <h3 class="mat-headline-4">Sign In</h3>
      <h4 class="mat-body-2">Please sign in to your account.</h4>
    </div>
    <!-- CONTENT -->
    <mat-card-content>
      <form [formGroup]="signinForm" (ngSubmit)="onSubmitSignIn()">
        <!-- EMAIL (email) -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            required
            placeholder="name@example.com" />
          @if (formControls['email'].hasError('required')) {
          <mat-error>Email is required.</mat-error>
          } @if (formControls['email'].hasError('email')) {
          <mat-error>Invalid email format.</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            required
            placeholder="password" />

          @if (formControls['password'].hasError('required')) {
          <mat-error>Password is required</mat-error>
          } @if (formControls['password'].hasError('minlength')) {
          <mat-error>Password must be at least 6 characters.</mat-error>
          }
        </mat-form-field>

        <!-- BUTTONS -->
        <div class="card-actions">
          <button mat-raised-button type="submit" [disabled]="signinForm.invalid || isLoading">
            @if (isLoading) {
            <mat-icon>hourglass_empty</mat-icon>
            } Sign In
          </button>
          <a mat-button routerLink="/signup">Create an account.</a>
        </div>
      </form>
      @if (errorMessage) {
      <div class="error-message">
        {{ errorMessage }}
      </div>
      }
    </mat-card-content>
  </mat-card>
</main>

<app-footer />
